<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.melcoc.bluewhale.dao.UserinfoMapper">
	<resultMap id="BaseResultMap" type="com.melcoc.bluewhale.domain.Userinfo">
		<id column="Uid" jdbcType="INTEGER" property="uid" />
		<result column="Uname" jdbcType="VARCHAR" property="uname" />
		<result column="Upsw" jdbcType="VARCHAR" property="upsw" />
		<result column="usealname" jdbcType="VARCHAR" property="usealname" />
	</resultMap>
	<sql id="Base_Column_List">
		Uid, Uname, Upsw, usealname
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from userinfo
		where Uid = #{uid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from userinfo
		where Uid = #{uid,jdbcType=INTEGER}
	</delete>
	<!-- 添加用户 -->
	<insert id="insert" parameterType="com.melcoc.bluewhale.domain.Userinfo">
		insert into userinfo ( Uname, Upsw,
		usealname)
		values (#{uname,jdbcType=VARCHAR}, #{upsw,jdbcType=VARCHAR},
		#{usealname,jdbcType=VARCHAR})
	</insert>
	
	<!-- 获取用户密码 -->
	<select id="getPassword" parameterType="String" resultType="String">
		select
		upsw
		from userinfo
		where uname=#{uname}
	</select>
	
	<!-- 根据真实姓名获取用户密码 -->
	<select id="getPasswordByUsealname" parameterType="String" resultType="String">
		select
		upsw
		from userinfo
		where usealname=#{usealname}
	</select>
	
	
	
	<!-- 根据真实姓名获取用户密码 -->
	<select id="getUsealname" parameterType="String" resultType="String">
		select
		usealname
		from userinfo
		where uname=#{uname}
	</select>
	
	<!-- 根据前台传入的用户名获取数据库中的用户名 -->
	<select id="getUname" parameterType="String" resultType="String">
		select
		uname
		from userinfo
		where uname=#{uname}
	</select>

	<insert id="insertSelective" parameterType="com.melcoc.bluewhale.domain.Userinfo">
		insert into userinfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uid != null">
				Uid,
			</if>
			<if test="uname != null">
				Uname,
			</if>
			<if test="upsw != null">
				Upsw,
			</if>
			<if test="usealname != null">
				usealname,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uid != null">
				#{uid,jdbcType=INTEGER},
			</if>
			<if test="uname != null">
				#{uname,jdbcType=VARCHAR},
			</if>
			<if test="upsw != null">
				#{upsw,jdbcType=VARCHAR},
			</if>
			<if test="usealname != null">
				#{usealname,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.melcoc.bluewhale.domain.Userinfo">
		update userinfo
		<set>
			<if test="uname != null">
				Uname = #{uname,jdbcType=VARCHAR},
			</if>
			<if test="upsw != null">
				Upsw = #{upsw,jdbcType=VARCHAR},
			</if>
			<if test="usealname != null">
				usealname = #{usealname,jdbcType=VARCHAR},
			</if>
		</set>
		where Uid = #{uid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.melcoc.bluewhale.domain.Userinfo">
		update userinfo
		set Uname = #{uname,jdbcType=VARCHAR},
		Upsw = #{upsw,jdbcType=VARCHAR},
		usealname = #{usealname,jdbcType=VARCHAR}
		where Uid = #{uid,jdbcType=INTEGER}
	</update>
</mapper>