<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>蓝鲸博客 - 登录</title>

    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Main Font -->
    <script th:src="@{/js/libs/webfontloader.min.js}"></script>

    <script>
        WebFont.load({
            google: {
                families: ['Roboto:300,400,500,700:latin']
            }
        });
    </script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/Bootstrap/dist/css/bootstrap-reboot.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/Bootstrap/dist/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/Bootstrap/dist/css/bootstrap-grid.css}">

    <!-- Main Styles CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.min.css}">


</head>

<body class="landing-page">


<!-- Preloader -->

<div id="hellopreloader">
    <div class="preloader">
        <svg width="45" height="45" stroke="#fff">
            <g fill="none" fill-rule="evenodd" stroke-width="2" transform="translate(1 1)">
                <circle cx="22" cy="22" r="6" stroke="none">
                    <animate attributeName="r" begin="1.5s" calcMode="linear" dur="3s" repeatCount="indefinite"
                             values="6;22"/>
                    <animate attributeName="stroke-opacity" begin="1.5s" calcMode="linear" dur="3s"
                             repeatCount="indefinite" values="1;0"/>
                    <animate attributeName="stroke-width" begin="1.5s" calcMode="linear" dur="3s"
                             repeatCount="indefinite" values="2;0"/>
                </circle>
                <circle cx="22" cy="22" r="6" stroke="none">
                    <animate attributeName="r" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite"
                             values="6;22"/>
                    <animate attributeName="stroke-opacity" begin="3s" calcMode="linear" dur="3s"
                             repeatCount="indefinite" values="1;0"/>
                    <animate attributeName="stroke-width" begin="3s" calcMode="linear" dur="3s" repeatCount="indefinite"
                             values="2;0"/>
                </circle>
                <circle cx="22" cy="22" r="8">
                    <animate attributeName="r" begin="0s" calcMode="linear" dur="1.5s" repeatCount="indefinite"
                             values="6;1;2;3;4;5;6"/>
                </circle>
            </g>
        </svg>

        <div class="text">Loading ...</div>
    </div>
</div>

<!-- ... end Preloader -->
<div class="content-bg-wrap"></div>


<!-- Header Standard Landing  -->

<div class="header--standard header--standard-landing" id="header--standard">
    <div class="container">
        <div class="header--standard-wrap">

            <a href="#" class="open-responsive-menu js-open-responsive-menu">
                <svg class="olymp-menu-icon">
                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
                </svg>
            </a>

            <div class="nav nav-pills nav1 header-menu">
                <div class="mCustomScrollbar">
                    <ul>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" href="#"
                               role="button" aria-haspopup="false" aria-expanded="false" tabindex='1'>Profile</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Profile Page</a>
                                <a class="dropdown-item" href="#">Newsfeed</a>
                                <a class="dropdown-item" href="#">Post Versions</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown dropdown-has-megamenu">
                            <a href="#" class="nav-link dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"
                               role="button" aria-haspopup="false" aria-expanded="false" tabindex='1'>Forums</a>
                            <div class="dropdown-menu megamenu">
                                <div class="row">
                                    <div class="col col-sm-3">
                                        <h6 class="column-tittle">Main Links</h6>
                                        <a class="dropdown-item" href="#">Profile Page<span
                                                class="tag-label bg-blue-light">new</span></a>
                                        <a class="dropdown-item" href="#">Profile Page</a>
                                        <a class="dropdown-item" href="#">Profile Page</a>
                                        <a class="dropdown-item" href="#">Profile Page</a>
                                        <a class="dropdown-item" href="#">Profile Page</a>
                                        <a class="dropdown-item" href="#">Profile Page</a>
                                    </div>
                                    <div class="col col-sm-3">
                                        <h6 class="column-tittle">BuddyPress</h6>
                                        <a class="dropdown-item" href="#">Profile Page</a>
                                        <a class="dropdown-item" href="#">Profile Page</a>
                                        <a class="dropdown-item" href="#">Profile Page<span
                                                class="tag-label bg-primary">HOT!</span></a>
                                        <a class="dropdown-item" href="#">Profile Page</a>
                                        <a class="dropdown-item" href="#">Profile Page</a>
                                        <a class="dropdown-item" href="#">Profile Page</a>
                                    </div>
                                    <div class="col col-sm-3">
                                        <h6 class="column-tittle">Corporate</h6>
                                        <a class="dropdown-item" href="#">Profile Page</a>
                                        <a class="dropdown-item" href="#">Profile Page</a>
                                        <a class="dropdown-item" href="#">Profile Page</a>
                                        <a class="dropdown-item" href="#">Profile Page</a>
                                        <a class="dropdown-item" href="#">Profile Page</a>
                                        <a class="dropdown-item" href="#">Profile Page</a>
                                    </div>
                                    <div class="col col-sm-3">
                                        <h6 class="column-tittle">Forums</h6>
                                        <a class="dropdown-item" href="#">Profile Page</a>
                                        <a class="dropdown-item" href="#">Profile Page</a>
                                        <a class="dropdown-item" href="#">Profile Page</a>
                                        <a class="dropdown-item" href="#">Profile Page</a>
                                        <a class="dropdown-item" href="#">Profile Page</a>
                                        <a class="dropdown-item" href="#">Profile Page</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Terms & Conditions</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Events</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">Privacy Policy</a>
                        </li>
                        <li class="close-responsive-menu js-close-responsive-menu">
                            <svg class="olymp-close-icon">
                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                            </svg>
                        </li>
                        <li class="nav-item js-expanded-menu">
                            <a href="#" class="nav-link">
                                <svg class="olymp-menu-icon">
                                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-menu-icon"></use>
                                </svg>
                                <svg class="olymp-close-icon">
                                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                                </svg>
                            </a>
                        </li>


                        <li class="menu-search-item">
                            <a href="#" class="nav-link" data-toggle="modal" data-target="#main-popup-search">
                                <svg class="olymp-magnifying-glass-icon">
                                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ... end Header Standard Landing  -->
<div class="header-spacer--standard"></div>

<div class="container">
    <div class="row display-flex">
        <div class="col col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="landing-content">
                <h1>欢迎来到来到蓝鲸博客</h1>
                <p>
                    与您一起，做到最好！
                </p>
                <a href="#" class="btn btn-md btn-border c-white">马上注册!</a>
            </div>
        </div>

        <div class="col col-xl-5 col-lg-6 col-md-12 col-sm-12 col-12">

            <!-- Login-Registration Form  -->

            <div class="registration-login-form">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#home" role="tab" id="nav-reg">
                            <svg class="olymp-login-icon">
                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-register-icon"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#profile" role="tab" id="nav-login">
                            <svg class="olymp-register-icon">
                                <use xlink:href="svg-icons/sprites/icons.svg#olymp-login-icon"></use>
                            </svg>
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane" id="home" role="tabpanel" data-mh="log-tab">
                        <div class="title h6">注册你的蓝鲸博客</div>
                        <form class="content">
                            <div class="row">
                                <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">你的昵称</label>
                                        <input id = "reg-nickname" class="form-control" placeholder="" type="text">
                                    </div>
                                </div>
                                <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group label-floating">
                                        <label id =  "reg-username" class="control-label">你的用户名</label>
                                        <input class="form-control" placeholder="" type="text">
                                    </div>
                                </div>
                                <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                    <div class="form-group label-floating">
                                        <label class="control-label">你的邮箱</label>
                                        <input id =  "reg-email" class="form-control" placeholder="" type="email">
                                    </div>
                                    <div class="form-group label-floating">
                                        <label class="control-label">设置密码</label>
                                        <input id =  "reg-password" class="form-control" placeholder="" type="password">
                                    </div>

                                    <div class="form-group date-time-picker label-floating">
                                        <label class="control-label">你的生日</label>
                                        <input id= "reg-birth" name="datetimepicker" value="1984-08-01"/>
                                        <span class="input-group-addon">
														<svg class="olymp-calendar-icon"><use
                                                                xlink:href="svg-icons/sprites/icons.svg#olymp-calendar-icon"></use></svg>
													</span>
                                    </div>

                                    <div id =  "reg-sex" class="form-group label-floating is-select">
                                        <label class="control-label">性别</label>
                                        <select class="selectpicker form-control">
                                            <option value="1">男</option>
                                            <option value="2">女</option>
                                            <option value="0">未指定</option>
                                        </select>
                                    </div>

									<div class="brand-danger" id="regBox-Warn" style="display: none;">&nbsp;&nbsp;用户名已被使用</div>

                                    <div class="remember">
                                        <div class="checkbox">
                                            <label>
                                                <input name="optionsCheckboxes" type="checkbox" id="agreeLicense">
                                                我已阅读并同意蓝鲸博客的 <a href="#">用户条款</a>
                                            </label>
                                        </div>
                                    </div>

                                    <a href="#" class="btn btn-purple btn-lg full-width" id="regBtn">注册账户</a>
                                    <p>已经拥有账户？ <a href="#profile" id="loginNow" class="brand-primary">立刻登录！</a></p>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane active" id="profile" role="tabpanel" data-mh="log-tab">
                        <div class="title h6"> 登录你的蓝鲸博客</div>
                    <form class="content" method="post">
                        <div class="row">
                            <div class="col col-12 col-xl-12 col-lg-12 col-md-12 col-sm-12">
                                <div class="form-group label-floating">
                                    <label class="control-label">邮箱或用户名</label>
                                    <input id="login-username" class="form-control" placeholder="" type="text" >
                                </div>
                                <div class="form-group label-floating">
                                    <label class="control-label">密码</label>
                                    <input id="login-password" class="form-control" placeholder="" type="password" >
                                </div>
                                <div class="remember">

                                    <div class="checkbox">
                                        <label>
                                            <input name="optionsCheckboxes" type="checkbox">
                                            记住我（公用电脑请勿选中）
                                        </label>
                                    </div>
                                    <a href="#" class="forgot" data-toggle="modal"
                                       data-target="#restore-password">忘记密码？</a>
                                </div>

                                <div class="brand-danger" id="LoginBox-Warn" style="display: none">&nbsp;&nbsp;登录成功</div>

                                <a href="#" class="btn btn-lg btn-primary full-width" id="loginBtn">登录</a>

                                <!--									<div class="or"></div>-->

                                <p>还没有账户？ <a href="#home" id="regNow" class="brand-primary">立刻注册！</a> 只需要填写一些简单的信息，马上就好！</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- ... end Login-Registration Form  -->        </div>
</div>
</div>

<!-- Window-popup Restore Password -->

<div class="modal fade" id="restore-password" tabindex="-1" role="dialog" aria-labelledby="restore-password"
     aria-hidden="true">
    <div class="modal-dialog window-popup restore-password-popup" role="document">
        <div class="modal-content">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon">
                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                </svg>
            </a>

            <div class="modal-header">
                <h6 class="title">恢复密码</h6>
            </div>

            <div class="modal-body">
                <form method="get">
                    <p>输入您的电子邮件，并点击发送代码按钮。你会在你的电子邮件中收到一个代码。请使用这个
                        下面的代码更改旧密码为新密码。
                    </p>
                    <div class="form-group label-floating">
                        <label class="control-label">你的邮箱</label>
                        <input class="form-control" placeholder="" type="email" value="james-spiegel@yourmail.com">
                    </div>
                    <button class="btn btn-purple btn-lg full-width">发送验证码</button>
                    <div class="form-group label-floating">
                        <label class="control-label">输入验证码</label>
                        <input class="form-control" placeholder="" type="text" value="">
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label">请输入新的密码</label>
                        <input class="form-control" placeholder="" type="password" value="olympus">
                    </div>
                    <button class="btn btn-primary btn-lg full-width">该密码不符合要求！</button>
                </form>

            </div>
        </div>
    </div>
</div>

<!-- ... end Window-popup Restore Password -->


<!-- Window Popup Main Search -->

<div class="modal fade" id="main-popup-search" tabindex="-1" role="dialog" aria-labelledby="main-popup-search"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered window-popup main-popup-search" role="document">
        <div class="modal-content">
            <a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
                <svg class="olymp-close-icon">
                    <use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use>
                </svg>
            </a>
            <div class="modal-body">
                <form class="form-inline search-form" method="post">
                    <div class="form-group label-floating">
                        <label class="control-label">What are you looking for?</label>
                        <input class="form-control bg-white" placeholder="" type="text" value="">
                    </div>

                    <button class="btn btn-purple btn-lg">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- ... end Window Popup Main Search -->

<!-- JS Scripts -->
<!--<script src="https://cdn.bootcss.com/axios/0.17.1/axios.min.js"></script>-->
<script th:src="@{/js/jQuery/jquery-3.4.1.js}"></script>
<script th:src="@{/js/libs/jquery.appear.js}"></script>
<script th:src="@{/js/libs/jquery.mousewheel.js}"></script>
<script th:src="@{/js/libs/perfect-scrollbar.js}"></script>
<script th:src="@{/js/libs/jquery.matchHeight.js}"></script>
<script th:src="@{/js/libs/svgxuse.js}"></script>
<script th:src="@{/js/libs/imagesloaded.pkgd.js}"></script>
<script th:src="@{/js/libs/Headroom.js}"></script>
<script th:src="@{/js/libs/velocity.js}"></script>
<script th:src="@{/js/libs/ScrollMagic.js}"></script>
<script th:src="@{/js/libs/jquery.waypoints.js}"></script>
<script th:src="@{/js/libs/jquery.countTo.js}"></script>
<script th:src="@{/js/libs/popper.min.js}"></script>
<script th:src="@{/js/libs/material.min.js}"></script>
<script th:src="@{/js/libs/bootstrap-select.js}"></script>
<script th:src="@{/js/libs/smooth-scroll.js}"></script>
<script th:src="@{/js/libs/selectize.js}"></script>
<script th:src="@{/js/libs/swiper.jquery.js}"></script>
<script th:src="@{/js/libs/moment.js}"></script>
<script th:src="@{/js/libs/daterangepicker.js}"></script>
<script th:src="@{/js/libs/fullcalendar.js}"></script>
<script th:src="@{/js/libs/isotope.pkgd.js}"></script>
<script th:src="@{/js/libs/ajax-pagination.js}"></script>
<script th:src="@{/js/libs/Chart.js}"></script>
<script th:src="@{/js/libs/chartjs-plugin-deferred.js}"></script>
<script th:src="@{/js/libs/circle-progress.js}"></script>
<script th:src="@{/js/libs/loader.js}"></script>
<script th:src="@{/js/libs/run-chart.js}"></script>
<script th:src="@{/js/libs/jquery.magnific-popup.js}"></script>
<script th:src="@{/js/libs/jquery.gifplayer.js}"></script>
<script th:src="@{/js/libs/mediaelement-and-player.js}"></script>
<script th:src="@{/js/libs/mediaelement-playlist-plugin.min.js}"></script>
<script th:src="@{/js/libs/ion.rangeSlider.js}"></script>

<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/libs-init/libs-init.js}"></script>
<script defer th:src="@{/fonts/fontawesome-all.js}"></script>

<script th:src="@{/Bootstrap/dist/js/bootstrap.bundle.js}"></script>
<script type="text/javascript">
$(
		function () {
		    $("#reg-birth").datetimepicker({
                format:'yyyy-mm-dd',
                startView:'year',
                maxView:'year',
                minView:'month',
                autoclose:true,
                pickerPosition: "bottom-left",
                language:'zh-CN',
            });
		}
);
$("#regBtn").click(function () {

    let nickname = $("#reg-nickname").val();
    let username = $("#reg-username").val();
    let email = $("#reg-email").val();
    let password = $("#reg-password").val();
    let birth = $("#reg-birth").val();
    let sex = $("#reg-sex").val();
    $.ajax({
        //注册
        type: 'POST',
        url: '/api/Reg',
        data: {nickname:nickname,username:username,email:email,password:password,birth:birth,sex:sex},
        datatype: 'application/json',
        success: function (data) {
            if(data.code===200){
                console.log(data.msg);
                localStorage["token"]=data.data;
                let d = new Date();
                d.setTime(d.getTime() + (3*24*60*60*1000));
                let expires = "expires=" + d.toUTCString();
                document.cookie = "token" + "=" + data.data + ";" + expires + ";path=/";
                window.location.href="/article/mainPage";
            }else {
                $("regBox-Warn").val(data.msg).css("display","block");
            }
        }
    })
});
$("#loginBtn").click(function () {
    let username = $("#login-username").val();
    let password = $("#login-password").val();
    $.ajax({
        //登陆模块
        type: 'POST',
        url: '/api/Login',
        data: {username:username,password:password},
        datatype: 'application/json',
        success: function (data) {
            console.log(data.msg);
            //成功时存入token
            if(data.code===200)
            {
                console.log(data.msg);
                localStorage["token"]=data.data;
                let d = new Date();
                d.setTime(d.getTime() + (3*24*60*60*1000));
                let expires = "expires=" + d.toUTCString();
                document.cookie = "token" + "=" + data.data + ";" + expires + ";path=/";
                window.location.href="/";
            }else {
                console.log(data.msg);
                $("#LoginBox-Warn").val(data.msg).css("display","block");
            }
        }
    })
});

</script>
</body>
</html>